
.nav-container{
    height: 5%;
    background-color: #4CCCC0;
    align-items: center;
}
.navbar-brand{
    font-size: 23px;
    color: white;
    margin-left: 1%;
    transition: 0.3s ease-in-out;
}
.navbar-brand:hover{
    font-size: 25px;
    color: white ;
    transition: 0.3s ease-in-out;
}
.nav-item{
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 0 15px;
}
.btn-logout{
    background-color:white ;
    color: #4CCCC0;
    border: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    padding:0 10px;
    height: 40px;
    margin: 0 15px;
    margin-top: 5px;
    font-weight: 600;
}
.nav-item:hover{
    background-color: #4CCCC0;
    color: white;
}
.navbar-nav{
    padding-right: 2%;
}
.navbar-brand{
    padding-left: 2%;
}
.intro-card{
    width:90%;
    border: none;
    background-color: #4CCCC0;
    height: 40%; 
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
    margin: 30px auto 0 auto;
}
.data-card{
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    height: 250px;
    background-color: #4CCCC0;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}
.data-card-text{
    font-size: 40px;
    text-align: center;
    padding-top: 6%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.data-card-sub-text{
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}
.intro-card-text{
    font-size: 50px;
    text-align: left;
    padding-left: 2%;
    font-family: 'source sans pro', sans-serif;
    font-weight: 700;
    padding-left: 80px;
    border-radius: 10px;
    padding-bottom: 40px;
    
}
.intro-card-sub-text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.records{
    display: flex;
    justify-content: center;
    font-family: "source sans pro", sans-serif;
    margin-bottom: 40px;
}
.out-of-stock-table{
    width: 100%;
    margin-left: 5%;
    border: #4CCCC0 2px solid;
    color: #4CCCC0;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}
tbody, td, tfoot, th, thead, tr{
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}
thead{
    font-size: 23px;
    font-weight: bolder;
}
tbody{
    font-size: 18px;
    font-weight: 600;
}
.expiry-table{
    width: 92%;
    margin-left: 10%;
    border: #4CCCC0 2px solid;
    color: #4CCCC0;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;

}
.inventory-table{
    margin-top: 5%;
    width: 100%;
    border: white 5px solid;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
}
.side-nav-container
{
    height: 100%;
    width: 15%;
    background-color: #4CCCC0;
}

.medicine-card{
    width: 100%;
    margin-top: 20px;
    margin-left: 25px;
    height: 500px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}
.medicine-form{
    height: 100%;
}
.invoice-form{
    height: 50%;
}
.invoice-title{
    font-family: 'Source Sans Pro', sans-serif;
 font-size: 30px;
 font-weight: 600;
 padding: 20px 20px 20px 20px;   
}
.invoice-sub-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    font-weight: 600;
    text-align: left;
    padding-left:10% ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.invoice-medicine-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
}
.invoice-button{
    width: 50%;
    height: 30px;
    background-color: white;
    margin-top: 30px;
    border: #4CCCC0 2px solid;
    color: #4CCCC0;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.invoice-button-container{
    margin-left: 10%;
    font-family: 'Source Sans Pro', sans-serif;
    
}
.invoice-submit-btn{
    border: #4CCCC0 3px solid;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    background-color: #4CCCC0;
    color: white;
    width: 150px;
    height: 45px;
    font-size: 21px;
    font-weight: bold;
    margin: auto;
}
.invoice-submit-btn:hover{
    background-color: white;
    color: #4CCCC0;
}
.invoice-submit-container{
    margin-bottom: 40px;
}
.invoice-button{
    font-family: 'Source Sans Pro', sans-serif;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
}
.invoice-button:hover {
    transform:scale(1.1,1.1);
    transition: transform 0.5s;
}
.invoice-table{
    font-size: 15px;
    width: 100%;
    margin: auto;
    margin-top: 10%;
    margin-left: 5%;
}