
.nav-container{
    height: 5%;
    background-color: #4CCCC0;
    align-items: center;
}
.navbar-brand{
    font-size: 23px;
    color: white;
    margin-left: 1%;
    transition: 0.3s ease-in-out;
}
.navbar-brand:hover{
    font-size: 25px;
    color: white ;
    transition: 0.3s ease-in-out;
}
.nav-item{
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 0 15px;
}
.btn-logout{
    background-color:white ;
    color: #4CCCC0;
    border: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    padding:0 10px;
    height: 40px;
    margin: 0 15px;
    margin-top: 5px;
    font-weight: 600;
}
.nav-item:hover{
    background-color: #4CCCC0;
    color: white;
}
.navbar-nav{
    padding-right: 2%;
}
.navbar-brand{
    padding-left: 2%;
}
.intro-card{
    width:100%;
    border: none;
    background-color: white;
    height: 40%; 
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
    margin: 10px 0;
}
.data-card{
    width: 100%;
    margin-top: 2%;
    margin-left: 5%;
    height: 250px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}
.data-card-text{
    font-size: 60px;
    text-align: center;
    padding-top: 6%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.data-card-sub-text{
    padding-top: 10px;
    font-size: 30px;
    font-weight: 300;
}
.intro-card-text{
    font-size: 50px;
    text-align: left;
    padding-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.intro-card-sub-text{
    font-size: 20px;
    font-weight: 300;
}
.out-of-stock-table{
    width: 100%;
    margin-left: 5%;
    border: white 5px solid;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}
.expiry-table{
    width: 92%;
    margin-left: 10%;
    border: white 5px solid;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
}
.inventory-table{
    margin-top: 5%;
    width: 100%;
    border: white 5px solid;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
}
.side-nav-container
{
    height: 100%;
    width: 15%;
    background-color: #4CCCC0;
}

.medicine-card{
    width: 100%;
    margin-top: 20px;
    margin-left: 25px;
    height: 500px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}
.medicine-form{
    height: 100%;
}
.invoice-form{
    height: 50%;
}
.invoice-input{
    width: 10px;
}
.invoice-title{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 30px;
 font-weight: 600;
 padding: 20px 20px 20px 20px;   
}
.invoice-sub-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding-left:15% ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.invoice-button{
    width: 50%;
    height: 30px;
    background-color: white;
    margin-top: 30px;
    border: #4CCCC0 2px solid;
    color: #4CCCC0;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.invoice-button-container{
    margin-left: 30%;
    
}
.invoice-submit-btn{
    border: #4CCCC0 1px solid;
    border-radius: 5px;
    background-color: #4CCCC0;
    color: white;
    width: 150px;
    font-size: 20px;
    margin: auto;
}
.invoice-submit-btn:hover{
    background-color: white;
    color: #4CCCC0;
}
.invoice-submit-container{
    margin-bottom: 40px;
}
.invoice-button:hover {
  background-color: #4CCCC0;
  color: white;
}
.invoice-table{
    font-size: 15px;
    width: 100%;
    margin: auto;
    margin-top: 15%;
    margin-left: 5%;
    border: white 5px solid;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
}