.map-Search-container{
    display: flex;
    flex-direction: row;
}
.map-Search-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 70%;
}
.submit-btn{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    background-color: #4cccc0;
    color: white;
    border: #4cccc0 solid 1px;
    height: 40px;
}
.submit-btn:hover{
    background-color: white;
    color: #4cccc0;
    border: #4cccc0 solid 2px;
}
.invoice-upload-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 70%;
    margin: auto;
}
.invoice-upload-btn{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #4cccc0;
}
.invoice-upload-text{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #4cccc0;
}