.Container{
    height: 800px;
    width: 100%;
}
.invoice-card{
    margin-top: 20px;
    height: 900px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    margin-bottom: 5%;
}
.invoice-submit{
    height: 5%;
    width: 20%;
    margin: auto;
    border: 1px grey solid;
    border-radius: 5px;
    margin-top: 5%;
    font-size: 20px;
    color: white;
    background-color: #4CCCC0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 5%;
}
.invoice-submit:hover {
    background-color: white;
    color: #4CCCC0;
  }
.row{
    width: 100%;
    height: 100%;
}
button{
    font-weight: 600;
}