
.Container{
    height: 100%;
}
.Content-right{
    height: 100%;
}
.Content-left{
    height: 100%;
}
.row{
    width: 100%;
}
.records{
    height: 20%;
    width: 100%;
}
.records-text{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: left;
    padding-left: 4%;
    padding-top: auto;
    padding-top: 5%;
}