.home{
    display: flex;
    flex-flow: column;
}

.homeabove{
    background-image: url('/public/assets/heroImage.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    min-height: 500px;
    width: 100%;
    -o-box-pack: center;
    -ms-flex-pack: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.homeabovecontainer{
    display: flex;
    flex-flow: row;
    column-gap: 66px;
    /* flex-direction: row; */
    justify-content: flex-end;
    margin-right: 124px;
}

.homeabovecontaineritem{
    width: 294px;
    height: 227px;
    background: #4CCCC0;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
    border-radius: 10px;
    display: flex;
}

.containeritemtext{
    margin: auto;
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #F4FCFB;
}

.homebelow{
    background: #DDF0EE;
    width: 100%;
    height:auto;
    flex-flow: column;
}

.homebelowh1{
    width: 110px;
    height: 49px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
}

.homebelowcontainer{
    display: flex;
    flex-flow: column;
    margin-top: 18px;
    row-gap: 35px;
    margin-bottom: 30px;
}

.homebelowcontaineritem{
    display: flex;
    flex-flow: column;
    width: 50%;
    margin-left: 2%;
}

.homeabovecontaineritem :hover{
    cursor: pointer;
}

.homebelowcontaineritemhead{
    width: 289px;
    height: 33px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 6px;
    margin-left: 11px;
    display: flex;
}

.homebelowcontaineritemtext{
    display: flex;
    text-align: left;
    margin-left: 11px;
    font-weight: 600;
}

.homebelowcontaineritem1{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 50%;
    float: right;
    margin-left: auto;
    margin-right: 2%;
}

.homebelowcontaineritemhead1{
    width: 361px;
    height: 33px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-right: 11px;
    margin-bottom: 7px;
}

.homebelowcontaineritemtext1{
    text-align: right;
    display: flex;
    margin-right: 12px;
    font-weight: 600;
}

