.search-card{
    height: 100%;
    width: 100%;
}
.map-card{
    height: 100%;
    width: 95%;
    margin: auto;
    margin-top: 1%;
    border-radius: 10px;
    /* border : 1px solid #4cccc0; */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}